#profile{
    overflow: auto;
}
#profile-table table{
    border-collapse: collapse;
    width: 100%;
    color:#fff;
}
#profile-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
#profile-table tr:nth-child(even) {
    background-color: #0F91A8;
}
#profile-table tr:nth-of-type(odd) {
	height: 35px;
	background-color: #14B9D6;
}

#profile-table tr:nth-child(even) a{color:#fff;}

