language: python
python:
  - '3.6'
install:
  - pip install -r requirements.txt
  - pip install coveralls
  # get the reporter for Code Climate
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
script:
  - python -m coverage run --branch --source=application -m unittest discover -s tests -v
  - python -m coverage xml
  # submit the report
  - coveralls
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
