language: python
<<<<<<< HEAD
python:
  - '3.6'
install:
  - pip install -r requirements.txt
  - pip install coveralls

script:
  - py.test --cov=application tests/
  # submit the report
  - coveralls

=======

python: 
  - "3.6"
services:
  - postgresql

install:
  - pip install -r requirements.txt

before script:
  - psql -c 'createdb test_db;' -U postgres
  - export DATABASE_NAME=test_db

script:
  - py.test --cov=application tests/
  
after_success:
  - coveralls


>>>>>>> feedback-two
