language: python

python: 
  - "3.6"
services:
  - postgresql
env:
  global:
    - DB_NAME=test_db

install:
  - pip install -r requirements.txt

before script:
  - psql -c 'createdb test_db;' -U postgres
  - export DATABASE_NAME=test_db

script:
  - py.test --cov=application tests/
  
after_success:
  - coveralls


