language: python

python: 
  - "3.6"
services:
  - postgresql
env:
  global:
    - export DEPLOYMENT_CONF=Deployment
    - export CONFIG_NAME=deployment

install:
  - pip install -r requirements.txt

before script:
  - export DEPLOYMENT_CONF=Deployment
  - export CONFIG_NAME=deployment
  - psql -c 'CREATE DATABASE store_manager;' -U postgres

script:
  - py.test --cov=application tests/
  
after_success:
  - coveralls


